body {
  background-color: deepskyblue;
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  padding: 1px;
  text-align: center;
}

#viz1618363459300 {
  margin-top: 5vh;
  display: flex;
}

/* #tableauPlaceholder {
  width: 1500px;
}

#tableauPlaceholderGraph {
  width: 1500px;
} */

#gap {
  height: 50px;
}
